* {
    margin: 0;
    padding: 0;
}

body
{
	font: 0.9em 'Lucida Grande', 'Bitstream Vera Sans', 'Arial', sans-serif;
	color: black;
	background-color: #b6d57d;
}

#index a {
    color: #336600;
    font-weight: bold;
    text-decoration: none;
}

#notices a {
    color: #336600;
    font-weight: bold;
    text-decoration: none;
}

#notices h1 {
    text-align: center;
    margin: auto;
    margin-top: 4px;
}

img {
    border: 0;
}

.banner {
    width: 120px;
}

p {
    margin-top: 7px;
    margin-bottom: 7px;
}

li {
    margin-left: 20px;
    margin-bottom: 3px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

hr {
    background-color: black;
    color: black;
    height: 2px;
    border: black;
}

#container
{
    width: 100%;
	margin: 0;
    border: 0;
    padding: 0;
    bottom: 0;
    text-align: center;
}

#ihv {
    background-image: url('images/menu_background.png');
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}

#ihv a {
    margin: 5px;
    padding: 3px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    vertical-align: middle;
    text-decoration: none;
    color: black
}

#ihv a:hover {
    background-image: url('images/menu_background_invert.png');
}

#header {
}


#index {
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    width: 55%;
    margin-right: 20px;
    float: left;
}

#footer {
    clear: both;
    position: relative;
    margin-left: 15px;
}

#notices {
    text-align: left;
    float: left;
    width: auto;
    height: auto;
    background-color:  #CCCC66;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
    right: 0;
    width: 400px;
    padding: 5px;
}

#banner {
    background-image: url('images/banner_background.png');
}
