body
{
	font: 0.8em Verdana, Arial, Times;
	color: #CCCCCC;
	background-color: #00CCFF;
}

h1
{
	font-size: 1.5em;
	font-weight: bold;
}

a:link
{
	color: #55FFFF;
	font-weight: bold;
	text-decoration: none;
}

a:active
{
	color: #55FFFF;
	font-weight: bold;
	text-decoration: none;
}

a:visited
{
	color: #55FFFF;
	font-weight: bold;
	text-decoration: none;
}

a:hover
{
	color: #55FFFF;
	font-weight: bold;
	text-decoration: underline;
}

img
{
	border: none;
}

a.navigation
{
	display : block;
	padding : 4px 10px;
}

ul.navigation
{
	list-style: none;
	margin : 0.5em;
	padding : 0.5em;
}

#container
{
	margin: 0 auto;
	text-align: left;
	width: 900px;
	border: 0px;
}

#ihv {
	width: 172px;
	padding:4px;
	background-color: black;
	border: 1px solid black;
	float: left;
	clear: left;
}

#header {
	text-align:center;
	width: auto;
	padding: 4px;
	border: 1px solid black;
	margin-bottom: 7px;
}

#content {
	width: auto;
	padding: 4px;
	background-color: black;
	border: 1px solid black;
}

#index {
	width: 700px;
	padding: 4px;
	background-color: black;
	border: 1px solid black;
	float: right;
}

