* {
    margin: 0;
    padding: 0;
}

body
{
	font: 0.9em 'Lucida Grande', 'Bitstream Vera Sans', 'Arial', sans-serif;
	color: black;
	background-color: white;
}

img {
    border: 0;
}

.banner {
    width: 120px;
}

#container
{
    width: 100%;
	margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
}

#ihv {
    background-image: url('images/menu_background.png');
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: left;
    padding: 2px;
}

#ihv a {
    margin: 5px;
    padding: 3px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    vertical-align: middle;
}

#header {
}

#content {
}

#index {
    margin-left: 20px;
    margin-top: 10px;
    width: 55%;
}

#banner {
    background-image: url('images/banner_background.png');
}
